<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加博客</title>
	<link rel='stylesheet' href='/css/bootstrap.css' /> 
  	<link rel='stylesheet' href='/css/style.css' />
  	<link rel="stylesheet" href="/ueditor/themes/default/css/ueditor.css">
  	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
  	<script src="/ueditor/ueditor.config.js"></script>
  	<script src="/ueditor/ueditor.all.js"></script>
</head>
<style>
	#title{
		width: 1000px;
	}
</style>
<body class="addar">
	<%- include header.html %>
	<div class="container">
			<div class="form-group">
				<label>标题</label>
				<input type="email" id="title" class="form-control" placeholder="标题">
			</div>
			<script type="text/plain" id="myEditor" style="width:1000px;height:240px;"></script>
			<div class="type-box">
				<select id="type">
				  <option>原创</option>
				  <option>转载</option>
				</select>
			</div>
			
			<button type="button" class="btn btn-default" id="sub">提交</button>
	
	</div>
</body>
<script>
var ue = UE.getEditor('myEditor',{
	indentValue : '0em'	
});

$("#sub").click(function(){
	var html =ue.getContent(); 
	var txt = ue.getContentTxt();
	jQuery.ajax({
	  url: 'addarticle',
	  type: 'POST',
	  dataType: 'json',
	  data: {title: $("#title").val(), content:txt,html:html,type:$("#type").val()}
	})
	.then(function(data){
		switch(data.code){
	    	case '00':
	    		alert("成功");
	    		break;
	    	case '01':
	    		alert("失败");
	    		break;
	    }
	},function(){
    alert("出错啦！");
  });
})
	
	
</script>
</html>