<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <%- include static.html %>
</head>
<body ng-controller="articleCtrl" class="ar-info">
  <%- include header.html %>
  <div class="container box">
    <div class="row">
      <div class="col-xs-9 content">
        <h3 ng-bind="data.title"></h3>
        <p class="ar-time">•&nbsp;&nbsp;发布于<span ng-bind="data.created_time"></span></p>
        <div ng-bind-html="html"></div>
      </div>
      <div class="col-xs-3 side">
        <ul>
          <li>
            <div class="header">
              作者
            </div>
            <div class="inner">
              <a href=""><p ng-bind="data.user.username"></p></a>
            </div>

          </li>
          <li><a href="">

          </a></li>
        </ul>
      </div>
    </div>
    <div class="row comment-list-box">
     <div class="col-xs-9">
      <div class="comment-list">
        <ul>
          <li ng-repeat="comment in comments">
            <div class="header clearfix"><a href="javascript:void(0)" class="user" ng-bind="comment.user.username"></a>&nbsp;•&nbsp;<span class="created-time" ng-bind="comment.created_time">2015-02-02</span><span class="pull-right"><span ng-bind="$index+1"></span>楼</span></div>
            <div class="content" ng-bind-html="comment.content">

            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="row comment-box">
   <div class="col-xs-9 comment">
    <div class="header">添加回复</div>
    <div class="inner">
      <script type="text/plain" id="myEditor" style="width:1000px;height:240px;"></script>

    </div>
    <button class="btn btn-info" ng-click="addComment()" id="sub-comment">回复</button>
  </div>

</div>
</div>

</body>
</html>