<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <%- include static.html %>
  </head>
  <body ng-controller="indexCtrl" class="in-style">
      <%- include header.html %>
    	<div class="container main">
    		<div class="row">
    			<div class="col-xs-9 content">
    				<div class="header">
    					<ul class="nav nav-pills">
							<li ng-class="{active:type=='all'}"><a href="/blog?type=all&amp;page=1">全部</a></li>
							<li ng-class="{active:type=='reprint'}"><a href="/blog?type=reprint&amp;page=1">原创</a></li>
							<li ng-class="{active:type=='origin'}"><a href="/blog?type=origin&amp;page=1">转载</a></li>
						  </ul>
    				</div>
    				<div class="article-list">
    					<ul >
    						<li ng-repeat="list in lists" class="clearfix"><a ng-href="/blogInfo?id={{list._id}}">
    							<div class="col-xs-10 article-name"><span class="type" ng-bind="list.type"></span><span ng-bind="list.title"></span></div>
    							<div class="pull-right uptime" ng-bind="list.created_time"></div>
    						</a></li>
    					</ul>
    				</div>
            <div class="page-box text-center">
              <nav>
                <ul class="pagination">
                  <li ng-class="{disabled:currentPage==1}">
                    <a href="javascript:void(0)" ng-click="prePage()">
                      <span>&laquo;</span>
                    </a>
                  </li>
                  <li ng-repeat="n in pageItem" ng-class="{active: $index+1==currentPage}" ><a ng-href="/blog?type={{type}}&page={{$index+1}}" ng-bind="$index+1"></a></li>
                  <li ng-class="{disabled:currentPage==pageItem.length}">
                    <a href="javascript:void(0)" ng-click="nextPage()">
                      <span>&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
    			</div>
    			<div class="col-xs-3 side">
    				<ul>
    					<li><a href="">
    						<h2 class="text-center">欢迎</h2>
    					</a></li>
    					<li><a href="">
    						<h2 class="text-center">光临</h2>
    					</a></li>
    				</ul>
    			</div>
    		</div>
    	</div>
      <p>豫ICP备15016970号</p>
  </body>
</html>
