<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>艾云博客</title>
	<link rel='stylesheet' href='/css/bootstrap.css' />
	<link rel='stylesheet' href='/css/style.css' />
</head>
<script>
	function isMobile(){
    	var u = navigator.userAgent, app = navigator.appVersion;
    	var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
		var isIos = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
		if(isAndroid==false&&isIos==false){
			
		}else{
			window.location.href="/m";
		}
    }
    isMobile();
</script>
<style>
	html,body{
		width: 100%;
		height: 100%;
		background-color: #87CEFA;
	}
	.info-box{
		background-color: rgba(0,0,0,0.3);
	    border-radius: 1.5em;
	    color: #fefefe;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    width: 600px;
	    height: 180px;
	    margin-left:-300px;
	    margin-top: -90px;
	}
	.info-box .goindex{
		color:#556677;
		font-size: 16px;
	}
	.blog-name{
		letter-spacing:8px;
		margin-top: 35px;
	}
	.blog-load{
		letter-spacing:6px;
	}
</style>
<body>
	<div class="container-fluid">
		<div class="info-box">
			<h3 class="text-center blog-name">艾云博客</h3>
			<p class="text-center blog-load">Welcome to IYun blog</p>
			<p class="text-center">
				<a href="blog?type=all&page=1" class="goindex">进入主页</a>
			</p>
			
		</div>
	</div>
</body>

</html>