*{
	margin:0;
	padding:0;
}
body {
  font: 14px "微软雅黑";
  background-color: #e1e1e1;
}
a {
  color: #00B7FF;
}
header{
	width: 100%;
	background: #444;
}
ul,li{
	list-style: none;
}
.in-style .side ul li{
	padding:5px;
	background: #fff;
	height: 100px;
	margin-bottom: 10px;
}
.header-inner{
	margin: 0 auto;
	padding:5px;
}
.header-inner .nav li{
	float: left;
}
.header-inner .nav li>a{
	color:#ccc;
}
.header-inner .logo{
	display: inline-block;
	width: 128px;
	height: 30px;
	background: url(/images/logo.png) center center no-repeat;
}

.ar-info .box{
	padding-top: 15px;
}
.ar-info .content{
	background: #fff;
}
.ar-info .side ul li{
	background-color: #fff;
}
.ar-info .side ul li .header{
	color: #51585c;
    border-radius: 3px 3px 0 0;
    padding: 10px;
    background-color: #f6f6f6;
}
.ar-info .side ul li .inner{
	line-height: 2em;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
}
.ar-info .ar-time{
    font-size: 12px;
    color: #838383;
}
.ar-info .comment-list-box .col-xs-9{
	background: #fff;
}
.ar-info .comment-list-box{
	margin-top: 15px;
}
.ar-info .comment-list ul{
	margin-bottom: 0;
}
.ar-info .comment-list ul li{
	padding:20px 15px;
	border-bottom:#f0f0f0 1px solid;
}
.ar-info .comment-list ul li .header{
	margin-bottom: 10px;
}
.ar-info .comment-box{
	margin-top:15px;
}
.ar-info .comment-box .comment .header{
	height: 40px;
	line-height: 40px;
	background: #f6f6f6;
	padding-left: 15px;
}
.ar-info .comment-box .comment .inner{
	margin-left:-1px;
}
.ar-info .comment-box .col-xs-9{
	padding:0;
}
.ar-info

.addar #title{
	width: 1000px;
}
.addar .type-box{
	margin: 10px 0px;
}
.addar .type-box select{
	padding:0px 15px;
}