<style>
  .weui_tabbar{
    position: fixed;
    bottom: 0;
  }
</style>
<!-- <script src="/js/ratchet.min.js"></script> -->
<div class="weui_tabbar">
      <a href="/m" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
          <img src="/images/icon_nav_index.png" alt="">
        </div>
        <p class="weui_tabbar_label">首页</p>
      </a>
      <a href="/m/login" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
          <img src="/images/icon_nav_login.png" alt="">
        </div>
        <p class="weui_tabbar_label">登录</p>
      </a>
      <a href="/m/register" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
          <img src="/images/icon_nav_regin.png" alt="">
        </div>
        <p class="weui_tabbar_label">注册</p>
      </a>
      <a href="javascript:;" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
          <img src="/images/icon_nav_add.png" alt="">
        </div>
        <p class="weui_tabbar_label">发表</p>
      </a>
    </div>